#settingsTitle{
  padding: 30px;
  font-size: 72px;
  text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns:  auto auto;
    padding: 10px;
}

.grid-itemL {
  text-align: left;
}

.grid-itemR {
    width: 90%;
    margin-left: auto;
    text-align: right;
    align-items: right;
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: 16px;
}

.grid-R-spacer{
  padding-bottom: 15px;
}

.grid-itemR-S {
  width: 50%;
}

.grid-sub{
    margin-left: 25px;
}

.colorLabel{
  text-align: right;
  padding-left: auto;
}

#v-pills-tab{
  border-style:  none solid none none ;
  border-width: 1px;
  padding-right: 20px;
  font-size: 26px;
}

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
}


/*Pill color*/
.nav-pills .nav-link.active {
  background-color: #212121 
}

/*Font Color*/
.nav-link{
  color: black;
}



/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) 
.active, .collapsible:hover {
}*/

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  position: absolute;
} 

#v-pills-tabContent{
  width: 65%;
}

#return{
  font-size: 24px;
  margin: 0px 10px 10px auto;
}

.container{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: auto;
}

.image{
  height: 50px;
}

/*Pill color*/
.light-pills .light-link.active {
  background-color: #212121 
}

/*Font Color*/
.light-link{
  color: black;
}

/*Pill color*/
.dark-pills .dark-link.active {
  background-color: #adb5bd;
  color: #212121 
}

/*Font Color*/
.dark-link{
  color: white;
}

/*Hover color
.nav-link:hover {
  color: pink;
}*/

.btn-light, .btn-light:hover{
  color: #212121;
}

#citation{
  text-align: center;
  margin:auto 10% auto 10%
}

footer{
  flex-direction: row;
  display: flex;
  align-items: center;
}