/* styles.css */
body{
    height: 90vw;
    min-height: 90vw;
    background-color: cornflowerblue;
}
#timeLeft, #dateLoc, #clock{
    text-align: center;
}

#clock{
    font-size: 90px;
    padding: 50px;
}

#timeLeft{
    font-size: 60px;
    margin-bottom: 5px;
}

#dateLoc{
    font-size: 24px;
    padding-bottom: 20px;
}

.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns:  auto auto;
    width: 450px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
}

.grid-top{
    border-top: 2px solid rgba(0, 0, 0, 0.8);
}
.grid-bottom{
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.box-bottom{
    text-align: center;
    padding-top: 20px;
}

.box{
    margin: auto;
    align-items: center;
}

#settingsWheel{
    position:absolute;
    right: 10px;
    bottom: 20px;
}

#stopB, #playB{
    margin: 10px;
    margin-bottom: 3px;
    margin-right: 0px;
}
